Source: plasma-widget-quick-controls
Section: unknown
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: cmake,
               debhelper (>=9),
               extra-cmake-modules,
               libkf5config-dev,
               libkf5dbusaddons-dev,
               libkf5kdelibs4support-dev,
               libkf5plasma-dev,
               libkf5widgetsaddons-dev,
               libkf5windowsystem-dev,
               libqt5x11extras5-dev,
               qtbase5-dev,
               qtdeclarative5-dev
Standards-Version: 3.9.8
Homepage: https://github.com/plasma-extensions/plasma-widget-quick-controls

Package: plasma-widget-quick-controls
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: plasma 5 widget for quick controls
 This package contains the files for plasma-widget-quick-controls
